* {
    margin: 0;
    font-family: 'Open Sans';
}

/* Header & nav styles */
/* A problem may arise at header margin */
header {
    background: #FFF8F3;
    background-image: url(images/header_bg.png), url('images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.f-name {
    font-weight: 800;
    font-size: 45px;
}

.R {
    color: #FD6E0A;
}

nav {
    margin: 50px 225px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    font-weight: 400;
    font-size: 20px;
    margin: 20px;
}

.or-btn, .CV-btn{
    background: #FD6E0A;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border-style: none;
    padding: 18px 35px;
}

.intro {
    display: flex;
    align-items: center;
    margin: 50px 225px;
}

.intro-title {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}

.intro-name {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 85px;
    color: #181818;
}

.general-text {
    margin-bottom: 30px;
    font-size: 18px;
    color: #757575;
}

/* Section styles */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* section {
    /* margin-top:130px; 
} */

.a-m {
    text-align: center;
    margin-bottom: 30px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 117px 148px 145px 165px;
}

.sec-title {
    /*  margin-top: 120px; */
    font-weight: 700;
    font-size: 35px;

    margin-bottom: 30px;
}

.sec-content {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    text-align: center;
}

/* Go to css cheat sheet */

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    margin-left: 50px;

}

.info-title {
    font-size: 20px;
    text-align: center;
    color: #757575;
}

.info-description {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #474747;
}

.Wid {
    text-align: center;
    margin-bottom: 50px;
    /* background: #FFF8F3; */
    border-radius: 10px;
    /*  */
}
.wid-intro{
    padding: 117px 148px 30px 165px;
}
.skills-container {
    display: flex;
    gap:24px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    text-align: left;
    padding:30px;
    margin-bottom: 130px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.skill-description {
    font-size: 16px;
    color: #757575;
}

.summary-of-resume{
    
}
.resume-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 115px;  
}
.resume-description{
    display: flex;
    gap: 24px;
}
.my-edu, .my-exp{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
    color: #474747;
    
}
.degree, .job{
    margin-bottom: 60px;
    
}
.degree-title, .designation{
    font-size: 25px;
    font-weight: 700;
    color: #474747;
}
.university, .placement{
    font-size:20px ;
    font-weight: 600;
    color:#757575;
    margin-top: 10px;
    margin-bottom: 20px; 
}
.description, .degree-description{
    font-size: 16px;
    color:#757575;
    /* border: 1px solid #D1D1D1 */
    padding: 0 0 30px 0; 

}
.btn{
    text-align: center;
    margin-bottom: 130px;
}
